.container{
    display: flex;
    flex-direction: column-reverse;
}
.box{
    width: 20%;
    height: 50%;
    font-size: 5em;
    border-radius: 2%;
    text-align: center;
}
#box1{
    background-color: aquamarine;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: blueviolet;
}
#box4{
    background-color:cyan ;
}
